/**
* Nova Field styles
*/
.nti-tags-wrapper-index {
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
}

.nti-tags-wrapper {
    margin-bottom: -5px;

    .nti-tag {
        display: inline-block;
        margin: 2px;
        color: rgba(var(--colors-white)) !important;
        background-color: rgba(var(--colors-primary-500),var(--tw-bg-opacity)) !important;
        padding: 3px 4px !important;
        border-radius: 0.2rem !important;
        font-size: .875rem !important;
        line-height: 1.25rem !important;
        font-weight: 700 !important;
    }

    .dark & .nti-tag {
        color: rgba(var(--colors-slate-900)) !important;
    }
}

/**
* Plugin styles
*/
.vue-tags-input {
    max-width: none !important;
    background-color: transparent !important;
}
.ti-input {
    --tw-ring-color: rgba(var(--colors-primary-100)) !important;
    --tw-border-opacity: 1 !important;
    --tw-bg-opacity: 1 !important;
    --tw-text-opacity: 1 !important;
    font-size: .875rem !important;
    background-color: rgba(var(--colors-white),var(--tw-bg-opacity)) !important;
    border-color: rgba(var(--colors-slate-300),var(--tw-border-opacity));
    border-radius: 0.25rem !important;
    border-width: 1px !important;
    color: rgba(var(--colors-slate-600)) !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    box-sizing: border-box !important;
    line-height: normal !important;
}
.dark .ti-input, .dark .ti-new-tag-input {
    --tw-ring-color: rgba(var(--colors-slate-700),var(--tw-ring-opacity)) !important;
    background-color: rgba(var(--colors-slate-900),var(--tw-bg-opacity)) !important;
    color: rgba(var(--colors-slate-400)) !important;
    border-color: rgba(var(--colors-slate-700),var(--tw-border-opacity)) !important;
}
.ti-tag {
    font-size: .875rem !important;
    line-height: 1.25rem !important;
    font-weight: 700 !important;
    padding: 3px 4px 3px 7px !important;
    border-radius: 0.2rem !important;

    &.ti-valid {
        color: rgba(var(--colors-white)) !important;
        background-color: rgba(var(--colors-primary-500),var(--tw-bg-opacity)) !important;
    }

    .dark &.ti-valid {
        color: rgba(var(--colors-slate-900)) !important;
    }

    &.ti-deletion-mark {
        background-color: rgba(var(--colors-red-500),var(--tw-bg-opacity)) !important;
    }
}

.ti-autocomplete {
    .ti-item {
        &.ti-selected-item {
            background-color: var(--colors-primary-500) !important;
            color: rgba(var(--colors-white)) !important;
        }

        .dark &.ti-selected-item {
            color: rgba(var(--colors-slate-900)) !important;
        }
    }
}
